<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add New Employees</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>Add an Employee</h1>
        <hr>
        <!-- now we need a form to get all the details of an employee from the users-->
        <form action="/add_emp" method="post">
            {% csrf_token %}
              <label for="first_name" class="first_name">First Name</label>
              <input type="text"  id="first_name" name="first_name" value="{{first_name}}" ><br>
              <hr>
              <label for="last_name" class="last_name">Last Name</label>
              <input type="text"  id="last_name" name="last_name" value="{{last_name}}" ><br>
              <hr>
              <label for="salary" class="salary">Salary</label>
              <input type="number"  id="salary"  name="salary"  value="{{salary}}" ><br>
              <hr>
              <label for="bonus" class="bonus">Bonus</label>
              <input type="number"  id="bonus" name="bonus" value="{{bonus}}" ><br>
              <hr>
              <label for="phone" class="phone">Phone No.</label>
              <input type="tel"  id="phone" name="phone" value="{{phone}}" ><br>
              <hr>
              <label for="dept" class="dept">Department</label>
              <input type="number"  id="dept" name="dept" value="{{dept}}" ><br>
              <hr>
              <label for="role" class="role">Role</label>
              <input type="number"  id="role" name="role" value="{{role}}" ><br>
              <hr>
              

            
              
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>